<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130254661768-4kmjmrns0epgjpkpabmh80iub4mnts7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130254661768-4kmjmrns0epgjpkpabmh80iub4mnts7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvrku2NiXlLvUi16PrqFxLisZl5R8L-A</string>
	<key>GCM_SENDER_ID</key>
	<string>130254661768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebuscorp.learningFlutter</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-36051</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-36051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130254661768:ios:2dfff5688b13ec4557173d</string>
</dict>
</plist>