<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772824868676-4g0vlq86i0krskl1intnc3vfspg019qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772824868676-4g0vlq86i0krskl1intnc3vfspg019qr</string>
	<key>API_KEY</key>
	<string>AIzaSyBGLNMn4jCvOfVwybKe-HvOb1dYwyPNTHI</string>
	<key>GCM_SENDER_ID</key>
	<string>772824868676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poiskkino.poiskKino</string>
	<key>PROJECT_ID</key>
	<string>poisk-kino</string>
	<key>STORAGE_BUCKET</key>
	<string>poisk-kino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772824868676:ios:b2a7557caa966b33635911</string>
</dict>
</plist>